@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime jsRuntime
@rendermode InteractiveServer


<section>
  <InputTextArea @bind-Value="@Text" />
  <button @onclick="@HandleBtnClick">@BtnText</button>
</section>



@code {


  /// <summary>
  /// Текст отправляемого в чат сообщения.
  /// </summary>
  public string Text { get; set; }

  /// <summary>
  /// Текст кнопки, инициирующей отправку сообщения.
  /// </summary>
  /// <remarks>
  /// Текст изменяется в зависимости от наличия выбранного в списке клиента.
  /// Если ни один клиент не выбран, то сообщение будет отправлено в общий чат,
  /// иначе - только выбранному в списке клиенту в приватный чат.
  /// </remarks>
  [Parameter]
  public string BtnText { get; set; }


  [Parameter]
  public bool IsPrivate { get; set; }


  [Parameter]
  public int ReceiverId { get; set; }


  [Parameter]
  public string ReceiverCid { get; set; }



  public async Task HandleBtnClick()
  {
    if (IsPrivate)
    {
      await jsRuntime.InvokeVoidAsync("HUBPAGE.CreatePrivateMessage", ReceiverId, ReceiverCid, Text);
    }
    else
    {
      await jsRuntime.InvokeVoidAsync("HUBPAGE.CreateSystemMessage", Text);
    }

    Text = null;
    await InvokeAsync(StateHasChanged);
  }



  public void SetBtnText(string btnText)
  {
    BtnText = btnText;
    StateHasChanged();
  }



  public void SetMessageRoute(int receiverId, string receiverCid)
  {
    ReceiverId = receiverId;
    ReceiverCid = receiverCid;
    IsPrivate = receiverId != 0;
    StateHasChanged();
  }




}
